{{#partial "title"}}
Create a goal!
{{/partial}}

{{!-- form.hbs --}}
{{#partial "content"}}
<h1>Fill in the form to create your goals</h1>
<form action ='/quote_list'>
<div class = "form-group">
<label for ="quote">Your quote</label>
<input id = "quote" name = "quote" type="text" class = "form-control">
<div>
<button type ="submit" class = "btn">Add!</button>
</form>
{{!-- form.hbs --}}
{{/partial}}

{{> layout.hbs}}