{{#partial "mainDiv"}}
<p>Your goals<p>


{{#if goals}} <!--if goals exist, then -->
{{#each goals}} <!--loop-->
<p>{{ title }}</p>
<p>{{ category }}</p>
<p>{{ description }}</p>
<p>{{ subjectGoalReferTo }}</p>
<p>{{}}</p>
{{/each}}
{{/else}}<!--no goals-->
{{/partial}}

{{> layout.hbs}}
